
body {
  margin:0; 
  padding: 0; 
  font-size: 12px; 
  font-family: 'Roboto', sans-serif;

  /* seems hacky but top div.row is causing overflow */
  overflow-x: hidden;
}

  /*to match Mongabay link styles*/
a {
  color: #0275d8;
  text-decoration:none;
}

a:hover {
  color: #444;
  text-decoration:underline;
}

/* button/headers at the top of the page, and above the charts */
div#button-container {margin-bottom: 1em;}
div.btn-header {height:60px; width: 100%; color: #fff; padding:1em;}
div.btn-bottom-header {height:30px; width: 100%; color: #fff;}
div.btn-green {background: #307538;}
div.btn-blue {background: #F28123}
div.btn-orange {background: #42858C}
div.title-cell {font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size:22px; width:65%; text-align:center;}
div.subtitle-cell {font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size:13px; text-align:left;}

div.btn-bottom-header div.icon-cell img {width:21px; margin: 2px 4px 0 5px;}
div.btn-bottom-header div.icon-cell { width: 35px; }

div.table-div {
  display:table;
  table-layout: fixed;
}

div.table-cell {
  display:table-cell;
  vertical-align: middle;
}

div.nothing {
  margin-left: 10px;
  color: #9e9e9e;
}

div.details {
  float:right;
  margin-right:1em;
  cursor:pointer;
}

/* chart containers and related elements */

div.main {
  margin:10px;
}

div.chartcol {
  min-height: 75px;
}

div.chart-outer {
  padding:15px 0;
}

div.chartrow {
  position:absolute;
  display:table;
  width: calc(100% - 30px);
}

div.chartrow.toprow {
  background: #EAEAEA;
}

svg.chartcontainer {
  overflow: visible;
}

div.textwrapper {
  cursor:pointer;
}

div.text {
  display:table-cell;
  vertical-align: middle;
  padding-left:10px;
}

div.chartrow.toprow div.text {
  font-weight: 500;
  padding-top: 10px;
}

div.chart {
  position: absolute;
  height: 100%;
}

/* D3 tooltips on the chart */
div.tooltip {
  background: rgba(255,255,255,0.85);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
  padding: 10px 16px 8px 10px;
  position: absolute;
  z-index: 1000;
  max-width:183px;
  display:none;
  cursor:all-scroll;
}

div.tooltip span.tooltip-close {
  display:block;
  position:absolute;
  top:0px; right: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  cursor:pointer;
  opacity:0.3;
}

/* chart rects */

rect {
  shape-rendering: crispEdges;
  cursor: pointer;
  z-index:10000;
}

div.selected {
  border: 3px solid #07395B;
  opacity: 1;
  cursor:pointer;
  z-index:50000000;
}

rect.plus    { fill: #52BF58; }
span.plus    { background: #52BF58; }
rect.neutral { fill: #FACB57; }
span.neutral { background: #FACB57; }
rect.minus   { fill: #BC2A2A; }
span.minus   { background: #BC2A2A; }
rect.type3   { fill-opacity: 0.5; }
span.type3   { opacity: 0.5; }
rect.type1   { fill-opacity: 1; }
span.type2   { opacity: 1; }

/* the legend */
table#legend {table-layout: fixed;}
table#legend td:not(:first-child) {padding: 4px 10px; text-align:center; max-width:78px;}
div.legend-container {margin: 2em auto;}
span.legend-title {display:inline-block; max-width:84px; text-align: center;}
span.rect {display:inline-block; width: 20px; height: 20px;}
span.legend-text {height: 20px; line-height:20px;}

/* the description */
div.description-container {
  font-size: 13px;
  margin: 1em auto;
  min-height: 163px;
}

/* the map */
div#map {
  width: 100%;
}

div.null-icon {
  width:1px; height:1px;
  background:transparent;
  border:none;
  opacity:0;
}

div.country-icon {
  width: 19px !important; height: 19px !important;
  background: #0b1ff0;
  border: none;
  opacity:0.7;
}

div.country-icon.selected {
  opacity:1;
  background:#EA7241 !important;
}

div.country-icon:hover {
  opacity:1;
}

span.icon-text {
  display:block;
  margin:0 auto;
  text-align:center;
  color:#fff;
}

/* BUTTONS */

div.clearall-container {
  text-align: left;
}

a#clearall {
  text-decoration: none;
  display:inline-block;
  padding: 6px 8px;
  background: #fff;
  border:1px solid #aaa;
  color: #999;
  position:relative;
  /*top: 1px;*/
  cursor:pointer;
}

a#clearall:hover {
  border: 1px solid #888;
  color: #444;
  top:1px;
}

/* SELECTS */

div#select-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 0.6em;
}

div#select-container select, div#select-container .select2-container{
  max-width: 300px;
}
/* LEAFLET OVERRIDES */

.leaflet-popup-content-wrapper {
  border-radius:0;
}

.leaflet-popup-content-wrapper {
  text-align:center;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin:5px 12px;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display:none;
}

/* SELECT2 STYLES AND OVERRIDES */

span.select2-container {
  margin-bottom: 5px !important;
}

span.select2-container:hover span.select2-selection__placeholder {
  color:#333 !important;
}

.select2-dropdown {
  z-index: 19001;
}

.select2-selection--multiple, .select2-selection--single {
    border-radius: 0 !important;
}

select:disabled, input:disabled { 
    cursor:not-allowed;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    cursor:not-allowed; background:#e2e2e2;
}

input.select2-search__field:disabled { 
    cursor:not-allowed;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-results__option {
    font-size: 12px;
}

.select2-selection__rendered {
  font-size: 12px;
}

.select2-container .select2-selection--single {
    height: 31px;
}

/* BOOTSTRAP OVERRIDES */
div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Map control overrides */
div.leaflet-credits-control.leaflet-control {clear:none;}
div.leaflet-control-attribution {padding:2px 4px 3px !important;}

/*
 * MAP CONTROLS ON SMALL SCREENS
 * a whole lot of features and controls, and having a resize-event handler to add/remove controls is just goofy
 * a stylesheetmedia query tends to work nicely though
 */

@media only screen and (max-height: 500px) { /* Small Devices, Tablets in landscape mode, thus vertically short */
    div.leaflet-credits-control, div.leaflet-control-attribution {
        display:none;
    }
    div.leaflet-control-scale {
        display:none;
    }
}

/*@media queries*/

@media (max-width: 1400px) {
  div.btn-header {
    min-height: 80px;
  }
}


@media (max-width: 1200px) {
  div.title-cell {
    font-size:20px;
    width:62%;
  }


}

@media (max-width: 992px) {

  div.button-wrapper {
    /*max-height:50px;*/
    /*min-height:50px;*/
  }

  div.btn-header {
    /*padding:0;*/
    height:auto;
    min-height:auto;
  }

  div.filter-wrapper {
    text-align:center;
  }

  div#select-container select, div#select-container .select2-container {
    /*max-width: 350px;*/
    margin:0 auto;
    text-align:left;
  }
  div.title-cell {
    font-size:26px;
    width:50%;
  }
  div.col-md-4:not(:last-child) {
    margin-bottom:1em;
  }

  div.legend-container table#legend {
    margin: 0 auto;
  }

}

/* iPad portrait */
@media (max-width: 768px) {
  div.clearall-container {
    text-align: center;
    position:static;
    margin-bottom:1em;
  }

  div#select-container div.row {
    width:auto;
  }

  span.legend-text, span.angled {
    font-size:92%;
  }

  span.angled {
    top:8px;
  }

  div.description-container {
    min-height:0;
  }

}

@media (max-width: 600px) {

  div.title-cell {
    font-size:20px;
    width:50%;
  }

}

@media (max-width: 360px) {
}

