
body {
  margin:0; 
  padding: 0; 
  font-size: 12px; 
  font-family: 'Roboto', sans-serif;
}

div.outergroup {
  position:relative;
}

div.top {
  margin-top:10px;
  margin-bottom:10px;
}

div.bottom {
  margin-top:10px;
}

div.row {
  position:absolute;
}

div.chart {
  position: absolute;
  height: 100%;
}

div.text {
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

rect.plus {
  fill: #309223;
}
rect.neutral {
  fill: #FACB57;
}
rect.minus {
  fill: #D7067C;
}
rect.weak {
  opacity: 0.5;
}

button {
  color: #999;
  height:28px; 
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: 1px solid #aaa;
  /*position:relative; top:1px;*/
}

button:hover {
  color: #333;
  background: #edeaea;
  cursor:pointer;
}

/* the map */
div#map {
    width: 100%;
    /* height will be set dynamically with a resize on load*/
    height: 500px; 
}

div.country-icon {
  width: 19px !important; height: 19px !important;
  background: #0b1ff0;
  border: none;
  opacity:0.7;
}

div.country-icon:hover {
  opacity:1;
}

div.country-icon:focus {
  border:2px dotted #ff006e;
  opacity: 1;
  background: #0a75ef;
  width: 20px !important; height: 20px !important;
}


span.icon-text {
  display:block;
  margin:0 auto;
  text-align:center;
  color:#fff;
}

/* SORT SELECTS */

div#select-container {
  width: 100%;
}

select#sort {
  width: 185px;
}

/* LEAFLET OVERRIDES */

.leaflet-popup-content-wrapper {
  border-radius:0;
}

.leaflet-popup-content-wrapper {
  text-align:center;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin:5px 12px;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display:none;
}



/* SELECT2 STYLES AND OVERRIDES */

span.select2-container:hover span.select2-selection__placeholder {
  color:#333 !important;
}

.select2-dropdown {
  z-index: 19001;
}


.select2-selection--multiple, .select2-selection--single {
    border-radius: 0 !important;
}

select:disabled, input:disabled { 
    cursor:not-allowed;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    cursor:not-allowed; background:#e2e2e2;
}

input.select2-search__field:disabled { 
    cursor:not-allowed;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-results__option {
    font-size: 12px;
}

.select2-selection__rendered {
  font-size: 12px;
}

.select2-container .select2-selection--single {
    height: 31px;
}
