
body {
  margin:0; 
  padding: 0; 
  font-size: 12px; 
  font-family: 'Roboto', sans-serif;

  /* seems hacky but top div.row is causing overflow */
  overflow-x: hidden;
}

/* chart containers and related elements */

div.main {
  margin:10px;
}

div.top, div.bottom {
  position:relative;
}

div.top {
  margin-top:10px;
  margin-bottom:10px;
}

div.bottom {
  margin-top:10px;
}

div.chartrow {
  position:absolute;
  display:table;
}

div.textwrapper {
  cursor:pointer;
}

div.text {
  display:table-cell;
  vertical-align: middle;
}

div.chart {
  position: absolute;
  height: 100%;
}

/* D3 tooltips on the chart */
div.tooltip {
  background: rgba(255,255,255,0.85);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
  padding: 4px;
  position: absolute;
  z-index: 1000;
  max-width:183px;
  display:none;
}

div.tooltip span.tooltip-close {
  display:block;
  position:absolute;
  top:0px; right: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  cursor:pointer;
  opacity:0.3;
}

div.tooltip div.tooltip-content {
  padding: 5px 15px 5px 5px;
}

div.tooltip div.tooltip-name {
  font-weight:500;
  margin-bottom:4px;
}

div.tooltip div.tooltip-author-year {
  font-style: italic;
  margin-bottom:4px;
}
div.tooltip div.tooltip-conclusion {
  margin-bottom:4px;
}

div.tooltip div.tooltip-conclusion span {
  font-weight:500;
  margin-bottom:4px;
}

/* chart rectangles */

rect.selected {
  cursor:pointer;
  fill: #7E3177 !important;
  opacity:1 !important;
}

rect.plus    { fill: #309223; }
rect.neutral { fill: #FACB57; }
rect.minus   { fill: #d7063d; }
rect.type3 { opacity: 0.6; }
rect.type2 { opacity: 0.8; }
rect.type1 { opacity: 1; }

/* the legend */

div.legend-container {height: 100px; margin-top:2em;}
div.legend {clear:both; width: auto; height:20px; margin-bottom:2px;}
div.legend span {float:left;}
span.rect {width: 20px; height: 20px; margin-right:2px;}
span.legend-text {width: auto; height: 20px; line-height:20px;margin-left:4px;}
span.plus    { background: #309223;}
span.neutral { background: #FACB57; }
span.minus   { background: #d7063d; }
span.type1   { opacity: 1.0; }
span.type2   { opacity: 0.8; }
span.type3   { opacity: 0.6; }
span.angled  { 
  position:relative;
  bottom:-4px;
  transform: rotate(320deg);
  transform-origin: left top 0;  
}

/* the map */
div#map {
  width: 100%;
}

div.null-icon {
  width:1px; height:1px;
  background:transparent;
  border:none;
  opacity:0;
}

div.country-icon {
  width: 19px !important; height: 19px !important;
  background: #0b1ff0;
  border: none;
  opacity:0.7;
}

div.country-icon.selected {
  opacity:1;
  background:#EA7241 !important;
}

div.country-icon:hover {
  opacity:1;
}

span.icon-text {
  display:block;
  margin:0 auto;
  text-align:center;
  color:#fff;
}

/* BUTTONS */

div.clearall-container {
  text-align: left;
}

a#clearall {
  text-decoration: none;
  display:inline-block;
  padding: 6px 8px;
  background: #fff;
  border:1px solid #aaa;
  color: #999;
  position:relative;
  /*top: 1px;*/
  cursor:pointer;
}

a#clearall:hover {
  border: 1px solid #888;
  color: #444;
  top:1px;
}

/* SELECTS */

div#select-container {
  width: 100%;
  max-width: 1020px;
}

div#select-container div.row {
  width:90%;
}

/* LEAFLET OVERRIDES */

.leaflet-popup-content-wrapper {
  border-radius:0;
}

.leaflet-popup-content-wrapper {
  text-align:center;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin:5px 12px;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display:none;
}

/* SELECT2 STYLES AND OVERRIDES */

span.select2-container {
  margin-bottom: 5px !important;
}

span.select2-container:hover span.select2-selection__placeholder {
  color:#333 !important;
}

.select2-dropdown {
  z-index: 19001;
}

.select2-selection--multiple, .select2-selection--single {
    border-radius: 0 !important;
}

select:disabled, input:disabled { 
    cursor:not-allowed;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    cursor:not-allowed; background:#e2e2e2;
}

input.select2-search__field:disabled { 
    cursor:not-allowed;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-results__option {
    font-size: 12px;
}

.select2-selection__rendered {
  font-size: 12px;
}

.select2-container .select2-selection--single {
    height: 31px;
}

/* BOOTSTRAP OVERRIDES */
div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Map control overrides */
div.leaflet-credits-control.leaflet-control {clear:none;}
div.leaflet-control-attribution {padding:2px 4px 3px !important;}

/*
 * MAP CONTROLS ON SMALL SCREENS
 * a whole lot of features and controls, and having a resize-event handler to add/remove controls is just goofy
 * a stylesheetmedia query tends to work nicely though
 */

@media only screen and (max-height: 500px) { /* Small Devices, Tablets in landscape mode, thus vertically short */
    div.leaflet-credits-control, div.leaflet-control-attribution {
        display:none;
    }
    div.leaflet-control-scale {
        display:none;
    }
}

/*@media queries*/

@media (max-width: 992px) {
  div.clearall-container {
    position:absolute;
    top:11px; right:10px;
  }

  div.legend-container {
    float: right;
  }

}

@media (max-width: 768px) {
  div.clearall-container {
    text-align: center;
    position:static;
  }

  div#select-container div.row {
    width:auto;
  }

  span.legend-text, span.angled {
    font-size:92%;
  }

  span.angled {
    top:8px;
  }

}


