svg {
  vertical-align: middle;
  background: rgba(255,255,255, 0.2);
  box-shadow: inset 0 0 3px 0px #CECECE;
}

.header rect{
  fill: #0099FF;
}

.header text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.cell rect{
  fill: #66FFFF;
}

.cell text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.cell rect.chartcell {
  fill: #ff0000;
}