/*index.css*/


table.summary {
  
}

table.main {
}

table td {
  padding:5px;
}

td.chart span {
  transition: visibility 0s linear 300ms;
  display:inline-block;
  width:19px; height: 19px;
  margin:1px;
}

td.chart span.invisible {
  visibility: hidden;
}

td.chart span.plus {
  background: #309223;
}

td.chart span.minus {
  background: #D7067C;
}

td.chart span.neutral {
  background: #FACB57;
}

td.chart div.minus-div, td.chart div.plus-div {
  line-height: 4px;
}

td.chart div.plus-div {
  margin-bottom: 3px;
}

table {table-layout: fixed;}
table td:first-child {max-width:200px;}

/*.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}*/

div.tooltip {
  background: rgba(255,255,255,0.75);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
  padding: 4px;
  position: absolute;
  z-index: 10;
}

}
